.wrapper{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  place-items: center;
  flex-direction: column;
  font-size: xx-large;
  background: #000;
  color: #fff;
}
.footer{
  font-size: medium;
  margin-top: 1rem;
}